extends layout

block content
  div.container.main-box
    div.jumbotron(style='text-align:center')
      h2
        font(color='white') Editor for English to Bangla Dictionary
      h4
        font(color='grey') v1.0

    // Nav tabs in card
    .card
      ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation')
          a(href='#addnew', aria-controls='home', role='tab', data-toggle='tab') Add New
        li(role='presentation')
          a(href='#search-edit', aria-controls='profile', role='tab', data-toggle='tab') Search & Edit
      // Tab panes
      .tab-content
        #addnew.tab-pane.active(role='tabpanel')
          form.form-horizontal#formAddNew(style='align:left')
            div.container
              .row
                .form-group.col-xs-2
                  label(for='mainword') Main Word
                  br
                  input#mainword.form-control(type="text", name="mainword")
                .form-group.col-xs-1
                  label
                .form-group.col-xs-2
                  label(for='altspelling') Alternate Spelling(s)
                  br
                  input#altspelling.form-control(type="text", name="altspelling")
                div.col-sm-6(style='float:right;padding:1em 0em 0em 2.5em;')
                  button.btn.btn-primary.btn-lg.btn-purple(type="button", style='border-radius:2px;')
                    i.fa.fa-plus
                    | &nbsp; Usage
                  button.btn.btn-primary.btn-lg.btn-primary(type="button", style='border-radius:2px;margin-left:6px;') Add New
                  button.btn.btn-primary.btn-lg.btn-success(type="button", style='border-radius:2px;margin-left:6px;') Save
                  
            div.divClsUsage#divUsage_1(data-index='1')
              hr
              label Usage
              br
              br
              div.container.divClsPos#divPos_1-1
                div.form-group.form-inline#divSelectPos_1-1
                  label 1.1 &nbsp; Part of Speech
                  select.selectpicker.clsSelectPos.form-control#selectPos_1-1(name='selectPos', data-style='btn-default', title='Select one', data-width='auto')
                    option(value='noun') Noun
                    option(value='pron') Pronoun
                    option(value='verb') Verb
                    option(value='adj') Adjective
                    option(value='adv') Adverb
                    option(value='conj') Conjunction
                    option(value='prep') Preposition
                    option(value='intr') Interjection
                
                // Placeholder for PoS details
                div#divPosDetails_1-1

                button#btnAddMeaning.btn.btn-default.addButton(type='button', style='margin-left:2em; margin-top:1em; padding:4px 8px 4px 8px;', onclick='addMeaning(this.id)')
                  i.fa.fa-plus
                  | &nbsp; অর্থ
              
              div#divPhrasesPlaceholder_1


              div#divPhrasalVerbsPlaceholder_1


              div#divCompoundWordsPlaceholder_1


              div#divDerivativesPlaceholder_1
              
              
              div#divHrDashed
                hr.dashed
              
              div.divClsUsageCtrlButtons#divUsageCtrlButtons_1
                div.col-md-2(style='float:left;padding:0px 0px 0px 30px')
                  button#btnAddPoS.btn.btn-primary.btn-cgreen(type='button', onclick='addPartOfSpeech(this.id)')
                    i.fa.fa-plus
                    | &nbsp; Part of Speech
                div#divBtnGroupUsage.btn-group.col-md-7(data-toggle="buttons", style='float:right;padding:0px 0px 0px 60px')
                  button.btn.btn-default.btnClsCheckbox
                    input#chkPhrases.chkClsButtonGrp(type="checkbox" name="phrases")
                    i.fa.fa-plus
                      | &nbsp; Phrases
                  button.btn.btn-default.btnClsCheckbox
                    input#chkPhrasalVerbs.chkClsButtonGrp(type="checkbox" name="phrasalVerbs")
                    i.fa.fa-plus
                      | &nbsp; Phrasal Verbs
                  button.btn.btn-default.btnClsCheckbox
                    input#chkCompoundWords.chkClsButtonGrp(type="checkbox" name="compoundWords")
                    i.fa.fa-plus
                      | &nbsp; Compound Words
                  button.btn.btn-default.btnClsCheckbox
                    input#chkDerivatives.chkClsButtonGrp(type="checkbox" name="derivatives")
                    i.fa.fa-plus
                      | &nbsp; Derivatives

            div#divFooter(style='margin-top:100px;overflow:auto')
              div.col-12
                button.btn.btn-primary.btn-lg.btn-purple(type="button", style='border-radius:2px;float:left;margin:10px 0px 10px 0px;')
                  i.fa.fa-plus
                  | &nbsp; Usage
              hr.last
              div.col-12
                button.btn.btn-primary.btn-lg.btn-primary(type="button", style='border-radius:2px;float:left;') Add New
                button.btn.btn-primary.btn-lg.btn-success(type="button", style='border-radius:2px;margin-left:6px;float:right;') Save

        #search-edit.tab-pane(role='tabpanel')
          h4 Work in progress...

  // Template for Usage
  //- div#divUsage.hide.divClsUsage
  //-   hr
  //-   label Usage
  //-   br
  //-   br
  //-   div#divPos.container.divClsPos
  //-     div.form-group.form-inline
  //-       label(for='posSelect') 1.1 &nbsp; Parts of Speech
  //-       select.selectpicker#selectPos.form-control(name='selectPos', data-style='btn-primary', title='Select one', data-width='auto')
  //-         option(value='noun') Noun
  //-         option(value='pron') Pronoun
  //-         option(value='verb') Verb
  //-         option(value='adj') Adjective
  //-         option(value='adv') Adverb
  //-         option(value='conj') Conjunction
  //-         option(value='prep') Preposition
  //-         option(value='intr') Interjection
  //-     div#divNoun.form-group.form-inline
  //-       label(for='plural', style='padding-left:3em') Plural
  //-       input#inpPlural.form-control(type="text", name='plural')
  //-       label(for='posNounTypeSelect', style='padding-left:4em') Types
  //-       select.selectpicker#selectNounType.form-control(name='selectNounType', data-style='btn-info', title='Select one', data-width='fit', multiple='', data-max-options='2')
  //-         option(value='cm-noun') Common noun
  //-         option(value='pr-noun') Proper noun
  //-         option(value='abs-noun') Abstract noun
  //-         option(value='col-noun') Collective noun
  //-         option(value='count-noun') Countable
  //-         option(value='uncount-noun') Uncountable
  //-       br
  //-       br
  //-       label(style='padding-left:3em') Different forms:
  //-       .x
  //-         div
  //-           label(for='nounForm3rdPerson', style='padding-left:6em') 3rd person
  //-         div
  //-           input#inp3rdPerson.form-control(type="text", name='3rdPerson', style='margin-left:1em')
  //-       .x
  //-         div
  //-           label(for='nounFormPresentCont', style='padding-left:6em') Present cont.
  //-         div
  //-           input#inpPresentCont.form-control(type="text", name='presentCont', style='margin-left:1em')
  //-       .x
  //-         div
  //-           label(for='nounFormPast', style='padding-left:6em') Past
  //-         div
  //-           input#inpPast.form-control(type="text", name='Past', style='margin-left:1em')
  //-       .x
  //-         div
  //-           label(for='nounFormPastPart', style='padding-left:6em') Past part.
  //-         div
  //-           input#inpPastPart.form-control(type="text", name='pastPart', style='margin-left:1em')

  //-     button#btnAddMeaning.btn.btn-default.addButton(type='button', style='margin-left:2em; margin-top:1em; padding:4px 8px 4px 8px;', onclick='addMeaning(this.id)')
  //-       i.fa.fa-plus
  //-       | &nbsp; অর্থ

  // Template for Noun details
  div#divNoun.form-group.form-inline.divClsNoun.hide
    label(for='plural', style='padding-left:3em') Plural
    input#inpPlural.form-control(type="text", name='plural')
    label(style='padding-left:4em') Types
  
  // Template for Noun Type selectpicker
  select.selectpicker#selectNounType.hide.form-control(name='selectNounType', data-style='btn-default', title='Select one', data-width='fit', multiple='', data-max-options='2')
    option(value='cm-noun') Common noun
    option(value='pr-noun') Proper noun
    option(value='abs-noun') Abstract noun
    option(value='col-noun') Collective noun
    option(value='count-noun') Countable
    option(value='uncount-noun') Uncountable

  // Template for Verb details
  div#divVerb.form-group.form-inline.divClsVerb.hide
    div(style='float:left;')
      label(style='padding-left:3em') Different forms:
      .x
        div
          label(style='padding-left:5em') 3rd person
        div
          input#inp3rdPerson.form-control(type="text", name='3rdPerson', style='margin-left:1em')
      .x
        div
          label(style='padding-left:5em') Present cont.
        div
          input#inpPresentCont.form-control(type="text", name='presentCont', style='margin-left:1em')
      .x
        div
          label(style='padding-left:5em') Past
        div
          input#inpPast.form-control(type="text", name='Past', style='margin-left:1em')
      .x
        div
          label(style='padding-left:5em') Past part.
        div
          input#inpPastPart.form-control(type="text", name='pastPart', style='margin-left:1em')
    div.divClsType(style='float:left;')
      label(style='padding-left:2em') Types &emsp;
  
  // Template for Verb Type selectpicker
  select.selectpicker#selectVerbType.hide.form-control(name='selectVerbType', data-style='btn-default', title='Select one', data-width='fit')
    option(value='trans-verb') Transitive
    option(value='intrans-verb') Intransitive
    option(value='verb-both') Both

  // Template for Adjective details
  div#divAdj.form-group.form-inline.divClsAdj.hide
    div(style='float:left;')
      label(style='padding-left:3em') Different forms:
      .x
        div
          label(style='padding-left:5em') Comparative
        div
          input#inpComparative.form-control(type="text", name='comparativeForm', style='margin-left:1em')
      .x
        div
          label(style='padding-left:5em') Superlative
        div
          input#inpSuperlative.form-control(type="text", name='superlativeForm', style='margin-left:1em')

  // Template for Meaning with option to add Sub-meaning
  div#divMeaning.hide.divClsMeaning.form-inline(style='margin-left:15px')
    .x
      div
        button#btnRemoveMeaning.btn.btn-default.removeButton(type='button', style='padding:4px 8px 4px 8px', onclick='removeMeaning(this.id)')
          i.fa.fa-close
          //- | &ensp; অর্থ
        label(style='margin-left:0.6em;') অর্থ (N)
      div
        input#inpMeaning.form-control(type='text', name='meaning', style='width: 40em; margin-left:2em')
    .x
      div
        label(style='margin-left:4em') উদাহরণ
      div
        input#inpExample.form-control(type='text', name='example', style='width:40em; margin-left:2em')
        button#btnAddSubMeaning.btn.btn-default.addButton(type='button', style='margin-left:2em; padding:4px 8px 4px 8px', onclick='addSubMeaning(this.id)')
          i.fa.fa-plus
          | &nbsp; অর্থান্তর

  // Template for Sub-meaning
  div#divSubMeaning.hide.divClsSubMeaning.form-inline
    .x
      div
        label(style='padding-left:4em; margin-top:10px') অর্থান্তর (N-a)
      div
        input#inpSubMeaning.input1.form-control(type='text', name='subMeaning', style='width:40em; margin-left:2em')
    .x
      div
        label(style='padding-left:5.5em') উদাহরণ
      div
        input#inpExampleSubMeaning.input2.form-control(type='text', name='exampleSubMeaning', style='width:40em; margin-left:2em')
        button#btnRemoveSubMeaning.btn.btn-default.removeButton(type='button', style='margin-left:2em; padding:4px 8px 4px 8px', onclick='removeSubMeaning(this.id)')
          i.fa.fa-minus
          | &ensp; অর্থান্তর

  // Template for Phrases
  div#divPhrases.hide.divClsPhrases
    hr.dashed
    div#divContainerPhrases.container


  // Template for (individual) Phrase
  div#divPhrase.hide.form-group.form-inline.divClsPhrase
    label X. &nbsp; Phrase
    input#inpPhrase.form-control(type="text", name='presentCont', style='margin-left:1em')
    br
    button#btnAddMeaning.btn.btn-default.addButton(type='button', style='margin-left:2em; margin-top:1em; padding:4px 8px 4px 8px;', onclick='addMeaning(this.id)')
      i.fa.fa-plus
      | &nbsp; অর্থ