extends layout

block content
  div.container.main-box
    div.jumbotron(style='text-align:center')
      h2
        font(color='white') Editor for English to Bangla Dictionary
      h4
        font(color='grey') v1.0

    // Nav tabs in card
    .card
      ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation')
          a(href='#addnew', aria-controls='home', role='tab', data-toggle='tab') Add New
        li(role='presentation')
          a(href='#search-edit', aria-controls='profile', role='tab', data-toggle='tab') Search & Edit
      // Tab panes
      .tab-content
        #addnew.tab-pane.active(role='tabpanel')
          form.form-horizontal#formAddNew(style='align:left')
            div.container
              .row
                .form-group.col-xs-2
                  label(for='mainword') Main Word
                  br
                  input#mainword.form-control(type="text", name="mainword")
                .form-group.col-xs-1
                  label
                .form-group.col-xs-2
                  label(for='altspelling') Alternate Spelling(s)
                  br
                  input#altspelling.form-control(type="text", name="altspelling")
                div.col-sm-6(style='float:right;padding:1em 0em 0em 2.5em;')
                  button.btn.btn-primary.btn-lg.btn-purple(type="button", style='border-radius:2px;')
                    i.fa.fa-plus
                    | &nbsp; Usage
                  button.btn.btn-primary.btn-lg.btn-primary(type="button", style='border-radius:2px;margin-left:6px;') Add New
                  button.btn.btn-primary.btn-lg.btn-success(type="button", style='border-radius:2px;margin-left:6px;') Save
                  
            div.divClsUsage#divUsage_1(data-index='1')
              hr
              label Usage 1
              hr.dashed
              div.container.divClsPos#divPos_1-1(data-index='1-1')
                div.form-group.form-inline#divSelectPos_1-1(data-index='1-1')
                  label 
                    font(color='#FA8072') 1.1 &nbsp; Part of Speech
                  select.selectpicker.clsSelectPos.form-control#selectPos_1-1(data-index='1-1', name='selectPos', data-style='btn-default', title='Select one', data-width='auto')
                    option(value='noun') Noun
                    option(value='pron') Pronoun
                    option(value='verb') Verb
                    option(value='adj') Adjective
                    option(value='adv') Adverb
                    option(value='conj') Conjunction
                    option(value='prep') Preposition
                    option(value='intr') Interjection
                
                // Placeholder for PoS details
                div#divPosDetails_1-1(data-index='1-1')

                div#divMeaningSection_1-1(data-index='1-1',style='margin:0px 0px 0px 10px')
                  button#btnAddMeaning.btn.btn-default.addButton(type='button', style='margin-left:2em; margin-top:1em; padding:4px 8px 4px 8px;', onclick='addMeaning(this)')
                    i.fa.fa-plus
                    | &nbsp; অর্থ
              
              div#divPhrasesPlaceholder_1(data-index='1')


              div#divPhrasalVerbsPlaceholder_1(data-index='1')


              div#divCompoundWordsPlaceholder_1(data-index='1')


              div#divDerivativesPlaceholder_1(data-index='1')
              
              
              div#divHrDashed
                hr.dashed
              
              div.divClsUsageCtrlButtons#divUsageCtrlButtons_1(data-index='1')
                div.col-md-2(style='float:left;padding:0px 0px 0px 30px')
                  button.btn.btn-default#btnAddPoS_1(data-index='1', type='button', style='color:#FA8072', onclick='addPartOfSpeech(this.id)')
                    i.fa.fa-plus
                    | &nbsp; Part of Speech
                div.btn-group.col-md-7#divBtnGroupUsage_1(data-index='1', data-toggle="buttons", style='float:right;padding:0px 0px 0px 60px')
                  button.btn.btn-default.btnClsCheckbox
                    input.chkClsButtonGrp#chkPhrases_1(data-index='1', type="checkbox" name="phrases")
                    i.fa.fa-plus
                      | &nbsp; Phrases
                  button.btn.btn-default.btnClsCheckbox
                    input.chkClsButtonGrp#chkPhrasalVerbs_1(data-index='1', type="checkbox" name="phrasalVerbs")
                    i.fa.fa-plus
                      | &nbsp; Phrasal Verbs
                  button.btn.btn-default.btnClsCheckbox
                    input.chkClsButtonGrp#chkCompoundWords_1(data-index='1', type="checkbox" name="compoundWords")
                    i.fa.fa-plus
                      | &nbsp; Compound Words
                  button.btn.btn-default.btnClsCheckbox
                    input.chkClsButtonGrp#chkDerivatives_1(data-index='1', type="checkbox" name="derivatives")
                    i.fa.fa-plus
                      | &nbsp; Derivatives

            div#divFooter(style='margin-top:100px;overflow:auto')
              div.col-12
                button.btn.btn-primary.btn-lg.btn-purple(type="button", style='border-radius:2px;float:left;margin:10px 0px 10px 0px;')
                  i.fa.fa-plus
                  | &nbsp; Usage
              hr.last
              div.col-12
                button.btn.btn-primary.btn-lg.btn-primary(type="button", style='border-radius:2px;float:left;') Add New
                button.btn.btn-primary.btn-lg.btn-success(type="button", style='border-radius:2px;margin-left:6px;float:right;') Save

        #search-edit.tab-pane(role='tabpanel')
          h4 Work in progress...

  // Template for Usage
  //- div#divUsage.hide.divClsUsage
  //-   hr
  //-   label Usage
  //-   br
  //-   br
  //-   div#divPos.container.divClsPos
  //-     div.form-group.form-inline
  //-       label(for='posSelect') 1.1 &nbsp; Parts of Speech
  //-       select.selectpicker#selectPos.form-control(name='selectPos', data-style='btn-primary', title='Select one', data-width='auto')
  //-         option(value='noun') Noun
  //-         option(value='pron') Pronoun
  //-         option(value='verb') Verb
  //-         option(value='adj') Adjective
  //-         option(value='adv') Adverb
  //-         option(value='conj') Conjunction
  //-         option(value='prep') Preposition
  //-         option(value='intr') Interjection
  //-     div#divNoun.form-group.form-inline
  //-       label(for='plural', style='padding-left:3em') Plural
  //-       input#inpPlural.form-control(type="text", name='plural')
  //-       label(for='posNounTypeSelect', style='padding-left:4em') Types
  //-       select.selectpicker#selectNounType.form-control(name='selectNounType', data-style='btn-info', title='Select one', data-width='fit', multiple='', data-max-options='2')
  //-         option(value='cm-noun') Common noun
  //-         option(value='pr-noun') Proper noun
  //-         option(value='abs-noun') Abstract noun
  //-         option(value='col-noun') Collective noun
  //-         option(value='count-noun') Countable
  //-         option(value='uncount-noun') Uncountable
  //-       br
  //-       br
  //-       label(style='padding-left:3em') Different forms:
  //-       .x
  //-         div
  //-           label(for='nounForm3rdPerson', style='padding-left:6em') 3rd person
  //-         div
  //-           input#inp3rdPerson.form-control(type="text", name='3rdPerson', style='margin-left:1em')
  //-       .x
  //-         div
  //-           label(for='nounFormPresentCont', style='padding-left:6em') Present cont.
  //-         div
  //-           input#inpPresentCont.form-control(type="text", name='presentCont', style='margin-left:1em')
  //-       .x
  //-         div
  //-           label(for='nounFormPast', style='padding-left:6em') Past
  //-         div
  //-           input#inpPast.form-control(type="text", name='Past', style='margin-left:1em')
  //-       .x
  //-         div
  //-           label(for='nounFormPastPart', style='padding-left:6em') Past part.
  //-         div
  //-           input#inpPastPart.form-control(type="text", name='pastPart', style='margin-left:1em')

  //-     button#btnAddMeaning.btn.btn-default.addButton(type='button', style='margin-left:2em; margin-top:1em; padding:4px 8px 4px 8px;', onclick='addMeaning(this.id)')
  //-       i.fa.fa-plus
  //-       | &nbsp; অর্থ

  // Template for Noun details
  div.form-group.form-inline.divClsNoun.hide#divNoun
    label(for='plural', style='padding-left:3em') Plural
    input.form-control#inpPlural(type="text", name='plural')
    label(style='padding-left:4em') Types
  
  // Template for Noun Type selectpicker
  select.selectpicker.form-control.hide#selectNounType(name='selectNounType', data-style='btn-default', title='Select one', data-width='fit', multiple='', data-max-options='2')
    option(value='cm-noun') Common noun
    option(value='pr-noun') Proper noun
    option(value='abs-noun') Abstract noun
    option(value='col-noun') Collective noun
    option(value='count-noun') Countable
    option(value='uncount-noun') Uncountable

  // Template for Verb details
  div.form-group.form-inline.divClsVerb.hide#divVerb
    div(style='float:left;')
      label(style='padding-left:3em') Different forms:
      .x
        div
          label(style='padding-left:5em') 3rd person
        div
          input.form-control#inp3rdPerson(type="text", name='3rdPerson', style='margin-left:1em')
      .x
        div
          label(style='padding-left:5em') Present cont.
        div
          input.form-control#inpPresentCont(type="text", name='presentCont', style='margin-left:1em')
      .x
        div
          label(style='padding-left:5em') Past
        div
          input.form-control#inpPast(type="text", name='Past', style='margin-left:1em')
      .x
        div
          label(style='padding-left:5em') Past part.
        div
          input.form-control#inpPastPart(type="text", name='pastPart', style='margin-left:1em')
    div.divClsType(style='float:left;')
      label(style='padding-left:2em') Types &emsp;
  
  // Template for Verb Type selectpicker
  select.selectpicker#selectVerbType.hide.form-control(name='selectVerbType', data-style='btn-default', title='Select one', data-width='fit')
    option(value='trans-verb') Transitive
    option(value='intrans-verb') Intransitive
    option(value='verb-both') Both

  // Template for Adjective details
  div#divAdj.form-group.form-inline.divClsAdj.hide
    div(style='float:left;')
      label(style='padding-left:3em') Different forms:
      .x
        div
          label(style='padding-left:5em') Comparative
        div
          input#inpComparative.form-control(type="text", name='comparativeForm', style='margin-left:1em')
      .x
        div
          label(style='padding-left:5em') Superlative
        div
          input#inpSuperlative.form-control(type="text", name='superlativeForm', style='margin-left:1em')

  // Template for Meaning with option to add Sub-meaning
  div#divMeaning.hide.divClsMeaning.form-inline(style='margin-left:15px')
    .x
      div
        button#btnRemoveMeaning.btn.btn-default.removeButton(type='button', style='padding:4px 8px 4px 8px', onclick='removeMeaning(this.id)')
          i.fa.fa-close
          //- | &ensp; অর্থ
        label(style='margin-left:0.6em;') অর্থ (N)
      div
        input#inpMeaning.form-control(type='text', name='meaning', style='width: 40em; margin-left:2em')
    .x
      div
        label(style='margin-left:4em') উদাহরণ
      div
        input#inpExample.form-control(type='text', name='example', style='width:40em; margin-left:2em')
        button#btnAddSubMeaning.btn.btn-default.addButton(type='button', style='margin-left:2em; padding:4px 8px 4px 8px', onclick='addSubMeaning(this.id)')
          i.fa.fa-plus
          | &nbsp; অর্থান্তর

  // Template for Sub-meaning
  div#divSubMeaning.hide.divClsSubMeaning.form-inline
    .x
      div
        label(style='padding-left:4em; margin-top:10px') অর্থান্তর (N-a)
      div
        input#inpSubMeaning.input1.form-control(type='text', name='subMeaning', style='width:40em; margin-left:2em')
    .x
      div
        label(style='padding-left:5.5em') উদাহরণ
      div
        input#inpExampleSubMeaning.input2.form-control(type='text', name='exampleSubMeaning', style='width:40em; margin-left:2em')
        button#btnRemoveSubMeaning.btn.btn-default.removeButton(type='button', style='margin-left:2em; padding:4px 8px 4px 8px', onclick='removeSubMeaning(this.id)')
          i.fa.fa-minus
          | &ensp; অর্থান্তর

  //---------- Template for Phrases ----------
  div.hide.divClsPhrases#divPhrases(data-index='1')
    hr.dashed
    p
      font(color='#0000ff') &emsp;&ensp;
        strong Phrases
    div.container#divContainerPhrases(data-index='1',style='margin:0px 0px 0px 0px')
    // Placeholder for one or more phrases
    div.col.xs-8
      button.btn.btn-default.btnClsAddMorePhrase#btnAddMorePhrase(type='button', style='float:right; margin:0px 20px 10px 0px; padding:4px 8px 4px 8px;', onclick='addMorePhrase(this)')
        i.fa.fa-plus
        | &nbsp; Phrase

  //----- Template for (individual) Phrase -----
  div.hide.form-inline.divClsPhrase#divPhrase(data-index='1-1',style='margin:15px 0px 0px 25px')
    .x
      div
        button.btn.btn-default#btnRemovePhrase(type='button', style='padding:4px 8px 4px 8px; margin:0px 8px 0px 0px;', onclick='removePhrase(this.id)')
          i.fa.fa-close
      div
        label X. &nbsp; Phrase
      div
        input#inpPhrase.form-control(type="text", name='phrase', style='width:40em;margin-left:1em')
    br
    .col.xs-2
      button.btn.btn-default.btnClsAddMeaning#btnAddMeaning(type='button', style='margin:0px 0px 0px 30px; padding:4px 8px 4px 8px;', onclick='addMeaning(this)')
        i.fa.fa-plus
        | &nbsp; অর্থ

  //~~~~~~~~~~ Template for Phrasal verbs ~~~~~~~~~~
  div.hide.divClsPhrasalVerbs#divPhrasalVerbs(data-index='1')
    hr.dashed
    p
      font(color='#00bb17') &emsp;&ensp;
        strong Phrasal Verbs
    div.container#divContainerPhrasalVerbs(data-index='1',style='margin:0px 0px 0px 0px')
    // Placeholder for one or more phrasal verbs
    div.col.xs-8
      button.btn.btn-default.btnClsAddMorePhrasalVerb#btnAddMorePhrasalVerb(type='button', style='float:right; margin:0px 20px 10px 0px; padding:4px 8px 4px 8px;', onclick='addMorePhrasalVerb(this)')
        i.fa.fa-plus
        | &nbsp; Phrasal Verb

  //~~~~~ Template for (individual) Phrasal verb ~~~~~
  div.hide.form-inline.divClsIndPhrasalVerb#divIndPhrasalVerb(data-index='1-1',style='margin:15px 0px 0px 25px')
    .x
      div
        button.btn.btn-default#btnRemovePhrasalVerb(type='button', style='padding:4px 8px 4px 8px; margin:0px 8px 0px 0px;', onclick='removePhrasalVerb(this.id)')
          i.fa.fa-close
      div
        label X. &nbsp; Phrasal Verb
      div
        input#inpPhrasalVerb.form-control(type="text", name='phrasalVerb', style='width:40em;margin-left:1em')
    br
    .col.xs-2
      button.btn.btn-default.btnClsAddMeaning#btnAddMeaning(type='button', style='margin:0px 0px 0px 30px; padding:4px 8px 4px 8px;', onclick='addMeaning(this)')
        i.fa.fa-plus
        | &nbsp; অর্থ

  //++++++++++ Template for Compound words ++++++++++
  div.hide.divClsCompoundWords#divCompoundWords(data-index='1')
    hr.dashed
    p
      font(color='#e38600') &emsp;&ensp;
        strong Compound Words
    div.container#divContainerCompoundWords(data-index='1',style='margin:0px 0px 0px 0px')
    // Placeholder for one or more compound words
    div.col.xs-8
      button.btn.btn-default.btnClsAddMoreCompoundWord#btnAddMoreCompoundWord(type='button', style='float:right; margin:0px 20px 10px 0px; padding:4px 8px 4px 8px;', onclick='addMoreCompoundWord(this)')
        i.fa.fa-plus
        | &nbsp; Compound Word

  //+++++ Template for (individual) Compound word +++++
  div.hide.form-inline.divClsIndCompoundWord#divIndCompoundWord(data-index='1-1',style='margin:15px 0px 0px 25px')
    .x
      div
        button.btn.btn-default#btnRemoveCompoundWord(type='button', style='padding:4px 8px 4px 8px; margin:0px 8px 0px 0px;', onclick='removeCompoundWord(this.id)')
          i.fa.fa-close
      div
        label X. &nbsp; Compound Word
      div
        input#inpCompoundWord.form-control(type="text", name='compoundWord', style='width:40em;margin-left:1em')
    br
    .col.xs-2
      button.btn.btn-default.btnClsAddMeaning#btnAddMeaning(type='button', style='margin:0px 0px 0px 30px; padding:4px 8px 4px 8px;', onclick='addMeaning(this)')
        i.fa.fa-plus
        | &nbsp; অর্থ

  //========== Template for Derivatives ==========
  div.hide.divClsDerivatives#divDerivatives(data-index='1')
    hr.dashed
    p
      font(color='#7d00df') &emsp;&ensp;
        strong Derivatives
    div.container#divContainerDerivatives(data-index='1',style='margin:0px 0px 0px 0px')
    // Placeholder for one or more derivatives
    div.col.xs-8
      button.btn.btn-default.btnClsAddMoreDerivative#btnAddMoreDerivative(type='button', style='float:right; margin:0px 20px 10px 0px; padding:4px 8px 4px 8px;', onclick='addMoreDerivative(this)')
        i.fa.fa-plus
        | &nbsp; Derivative

  //===== Template for (individual) Derivative =====
  div.hide.form-inline.divClsIndDerivative#divIndDerivative(data-index='1-1',style='margin:15px 0px 0px 25px')
    .x
      div
        button.btn.btn-default#btnRemoveDerivative(type='button', style='padding:4px 8px 4px 8px; margin:0px 8px 0px 0px;', onclick='removeDerivative(this.id)')
          i.fa.fa-close
      div
        label X. &nbsp; Derivative
      div
        input#inpDerivative.form-control(type="text", name='derivative', style='width:40em;margin-left:1em')
    br
    .col.xs-2
      button.btn.btn-default.btnClsAddMeaning#btnAddMeaning(type='button', style='margin:0px 0px 0px 30px; padding:4px 8px 4px 8px;', onclick='addMeaning(this)')
        i.fa.fa-plus
        | &nbsp; অর্থ